#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- Remote logging agent for gwt-log -->
	<servlet>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>remoteLoggerServiceImpl</servlet-name>
		<url-pattern>/${artifactId}/gwt-log</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>${package}.server.guice.MyGuiceServletConfig</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GreetMvp.html</welcome-file>
	</welcome-file-list>

</web-app>
